mode=config
wifiname=CMCC-pp
wifipwd=13488946576
APName=Lym
APIP=192.168.1.130
APNetMask=255.255.255.0
APGateway=192.168.1.1
serverip=192.168.1.5
serverport=8002
deviceusername=pengping
devicepwd=pengping
devicename=ESP32
sw1name=Bed room light
sw2name=Hall light
rangename=Tree light
num1name=Tree temprature
num2name=Tree humidity
devicetype=NodeMCU
longitude=104.0375303
latitude=30.6783078
altitude=498.0