mode=config
wifiname=CMCC_PP
wifipwd=19880612
APName=ESP32
APIP=192.168.1.130
APNetMask=255.255.255.0
APGateway=192.168.1.1
serverurl=http://3a892544f7.qicp.vip
deviceusername=pengping
devicepwd=pengping
devicename=ESP32
sw1name=Bed room light
sw2name=Hall light
rangename=Tree light
num1name=Tree temprature
num2name=Tree humidity
devicetype=NodeMCU
longitude=104.0375303
latitude=30.6783078
altitude=498.0